* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 60%;
  padding: 10px 20px;
  border: 1px solid black;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 4px;
}
